.todoitem {
    position: relative;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;

    & + & {
        margin-block-start: .75rem;
    }

    &__edit {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
