html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.todo {
  max-width: 40rem;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.todo__main_title {
  margin-block-end: 3.625rem;
  font-family: sans-serif;
  font-size: 2.25rem;
  line-height: 1.15rem;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.btn {
  display: block;
  min-width: 4rem;
  height: 2rem;
  margin-inline: auto;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #2F80ED;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: .5rem;
  transition: background-color 180ms;
  z-index: 3;
}

.btn:hover {
  background-color: #0052bd;
}
